@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&display=swap&subset=cyrillic-ext,greek-ext,latin-ext");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #803ecc, #0983cc);
  font-family: Roboto, sans-serif;
}
.container {
  width: 200px;

  background-color: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.heading {
  background-image: linear-gradient(90deg, #89c, #87ac);
  height: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1.1rem;
  &__title {
    text-transform: uppercase;
    margin-left: 0.5rem;
  }
  &__btn {
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
    margin-right: 0.5rem;
    justify-self: center;
    margin-top: -4px;

    color: currentColor;
    cursor: pointer;
  }
}
ul {
  list-style: none;
  li {
    height: 2.25rem;
    line-height: 2.25rem;
  }
  & li:nth-child(odd) {
    background: #fff;
  }
}
.add-list {
  width: 100%;
  font-size: 1.1rem;
  background-color: #f7f7f7;
  border: none;
  padding: 0.8rem 0.8rem 0.8rem 1.25rem;

  &:focus {
    outline: none;
  }
}

.delete {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 0;
  stroke: red;
  fill: red;
  margin-right: 0.2rem;
  padding-top: 10px;
  opacity: 0;
  text-align: center;
  transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear; /* Firefox 4 */
  -webkit-transition: opacity 0.5s linear; /* Safari and Chrome */
  -o-transition: opacity 0.5s linear; /* Opera */
  -ms-transition: opacity 0.5s linear; /* Explorer 10 */
}
li:hover .delete {
  opacity: 1;
}
